* {margin:0;padding:0;}
li {list-style: none;}

/*common*/
.btn {line-height: 1.5715;position: relative;display: inline-block;font-weight: 400;white-space: nowrap;text-align: center;background-image: none;border: 1px solid transparent;-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);cursor: pointer;-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-ms-touch-action: manipulation;touch-action: manipulation;height: 32px;padding: 4px 15px;font-size: 14px;border-radius: 2px;color: rgba(0, 0, 0, 0.65);background: #fff;border-color: #d9d9d9;}
.hover-box {display:flex;flex-direction:column;justify-content:center;align-items:center;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);opacity:0;transition:opacity .3s;}
.hover-box:hover {opacity: 1;}

/*CONTENT*/
/*login*/
.login-form {display:flex;flex-direction:column;width:70%;margin:0 auto;}
.login-form input {width:100%;}
.btn-join {width:100%;margin-top:20px;}

.movie-main-content {display:flex;padding:15px;flex-direction:column;justify-content: flex-end; width:100%;height:400px;background-size:cover;background-position:center;}
.movie-main-text-box {padding:10px 20px;background-color:rgba(0,0,0,0.5);}
.movie-main-text-box .title {font-size:25px;color:#fff;}
.movie-main-text-box .desc {padding-top:10px;color:#fff;overflow: hidden;text-overflow: ellipsis;font-size:16px; display: -webkit-box; -webkit-line-clamp:3; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.35em; height: 4.6em;}

.movie-list-content {padding-top:40px;}
.movie-list {display:flex;flex-direction:column;position:relative;height:400px;border-bottom:1px solid #aaa;}
.movie-list .movie-img {flex:7;background-size:cover;background-repeat:no-repeat;background-position:center;}
.movie-list .movie-info {flex:3;padding-top:10px;}
.movie-list .title {display:inline-block;width:100%;font-size:20px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.movie-list .desc {overflow: hidden;color:#aaa;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.3em; height: 5em;}

/*HEADER*/
.header {display:flex;}
.form-search + .btn-box {margin-left:15px;}
.logo {height: 32px;background: rgba(255, 255, 255, 0.2);margin: 16px;}

.btn-top {height:60px;width:60px;line-height:60px;border-radius:50%;background-color:#1088e9;color: #fff;text-align:center;font-size: 15px,}

.detail-main-visual {position:relative;background:#000;}
.detail-main-visual .bg-content {width:100%;height:500px;background-size:cover;background-position:center;opacity:0.3;}
.detail-main-visual .title {position: absolute;left:50px;top:50px;right:50px;width:calc(100% - 350px);font-size:60px;color:#fff;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.3em; height: 4em;overflow:hidden;}
.detail-main-visual .image-box {position:absolute;top:50%;right:50px;width:250px;border-radius:15px;overflow:hidden;box-shadow: 0px 0px 10px #555;transform:translateY(-50%);}
.detail-main-visual .image-box img {width:100%}
.detail-main-visual .info-list {display:flex;width:50%;position: absolute;bottom:50px;left:50px;right:50px;}
.detail-main-visual .info-list li {display:flex;flex-direction:column; flex:1;}
.detail-main-visual .info-list .tit {color:#ccc;font-size: 16px;font-weight:300;}
.detail-main-visual .info-list .info {color:#ccc;}
.detail-main-visual .info-list .info strong {margin-right:10px;font-size:35px;color:#fff;}

.movie-detail-content .tag-line {font-size:30px;}
.detail-info-list {padding-top:20px;}
.detail-info-list li {font-size:15px;}
.detail-info-list li:not(:first-child) {padding-top:5px;}
.detail-info-list strong {display:inline-block; width:100px;}

.vidio-box {width:100%;margin-top:50px;overflow:auto;white-space: nowrap;}
.vidio-box iframe {width:400px;height:200px;}
.vidio-box iframe:not(:first-child) {margin-left:20px;}

/*cast*/
.cast-info-content img {width:100%;}
.cast-info-content .no-image {display:flex !important;height:100%;align-items:center;justify-content:center;border:1px solid #ccc;}
.cast-info-content .ant-col {padding:0 !important;}
.cast-info-box {padding:15px;}
.s-name {color:#aaa;font-size:20px;}
.name {color:#fff;font-size:25px;}

/*search content*/
.search-movie-list {}
.list-item {width:300px;padding:20px;background-size:100%;background-position:center;background-color:#ccc;}



/*ANT***********************************************/
/*header*/
.ant-layout-header {display:flex;justify-content: space-between;align-items:center;padding-left:20px !important;}
/*nav toggle*/
#components-layout-demo-custom-trigger .trigger {font-size: 18px;line-height: 64px;padding: 0 24px;cursor: pointer;transition: color 0.3s;}
#components-layout-demo-custom-trigger .trigger:hover {color: #1890ff;}
.site-layout .site-layout-background {background: #fff;}
/*content*/
.ant-layout-content { margin: 24px 16px;padding: 24px;min-height: 280px;}
.ant-rate-star:not(:last-child) {margin-right:25px !important;}
.ant-rate-star {transform: scale(1.5);}

@media screen and (max-width:950px) {
    .ant-layout-content {margin:10px;}
    .ant-layout-header {padding-right:20px;}
    .hover-box {display:none;}
    .movie-main-content {height:300px;}
    .movie-list .desc {font-size:13px;}
    .detail-main-visual .bg-content {height:300px;}
    .detail-main-visual .image-box {display:none;}
    .detail-main-visual .title {display:block;width:auto;height:auto;font-size:28px;top:20px;right:20px;left:20px;}
    .detail-main-visual .info-list {width:auto;bottom:20px;right:10px;left:10px;}
    .detail-main-visual .info-list li {align-items:center;}
    .detail-main-visual .info-list .tit {font-size:12px;}
    .detail-main-visual .info-list .info {font-size:12px;}
    .detail-main-visual .info-list .info strong {font-size:24px;}
    .movie-detail-content .tag-line {font-size:20px;}
    .movie-detail-content .desc {font-size:13px;}
    .vidio-box iframe {width:250px;height:150px;}
    .detail-info-list li {font-size: 13px;}
    .detail-info-list strong {width:85px;}
}